fastapi==0.109.2
uvicorn==0.27.1
supabase==2.3.6
langgraph
langchain
langchain-community
langchain-ollama
langchain-core
playwright
beautifulsoup4
langchain-text-splitters
celery
redis
numpy
psycopg2-binary
pydantic==2.6.3
python-dotenv==1.0.1
duckduckgo-search
markdown==3.10.2
wikipedia
trafilatura
copilotkit
requests
urllib3
